.Avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .Avatar-container .flex {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
  /* Style for Avatars */
  .Avatar-container .Avatar-root {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0; /* Fallback background color */
  }
  
  /* Style for Avatar images */
  .Avatar-container .Avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Style for Avatar names */
  .Avatar-container .Avatar-name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
  }
  